
html {
  background: transparent url('http://subtlepatterns.com/patterns/graphy.png') repeat;
}
body {
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 300;
  padding: 20px;
  height: 100%;
}

