@import "elements.less";
//@import "responsive.less";
//Variables
@padS: 5px;
@padM: 10px;
@padL: 20px;

//Colours
@white: white;
@black: black;
@bg: #f7f7f5;
@grey: #666;
@yellow: #fff4a5;
@red: #C43C35;
@blue: #1B7AE0;
@green: #57A957;
@lightGrey: lighten(@grey, 45%);
@darkGrey: darekn(@grey, 30%);
@lightBlue: #96DDFA;
html {
    background: #eee;
}

body {
    font-family: sans-serif;  
    font-weight: normal;
    height: 100%;
}

input[type='button'] {
    -webkit-appearance: none;
    border-radius: 0;
}

input, textarea, select {
    margin-top: 6px;
}

#header {
    background: black;
    height: 2em;

}

.centered {
    text-align:center;
}

.hidden {
    display:none;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

h1 {
    color: @grey;
    font-weight: 500;
}

h3 span {
    color: @grey;
    font-weight:normal;
}
.notice{
    background-color:@blue;
    color:white;
}
.delete {
    background-color: @red;
    color: white;
}
.minibutton {
    font-size:13px;
}


#wrapper {
    width:100%;
    .box-shadow(0 0 2px lighten(@grey, 40%));
    margin: 0 auto;
    background: @white;
    border:1px solid darken(@lightGrey, 20%);
}

#controlPanel {
    margin: @padL;
    height:100%;
    border: 1px solid @darkGrey;
    .box-shadow(0 0 3px @grey);
    .gradient(#FAFAFA, #EAEAEA, #FAFAFA);
    .rounded(5px);
}
.cell {
    .box-shadow(0 0 2px @lightGrey);
    padding: @padM;
    min-height: 4.2em;
    text-transform: uppercase;
    font-size:70%;
    color: @grey;
    font-weight: bold;

    li {
        text-transform: none;
    }

    label {
        margin: 0 @padM @padM 0;
        font-size:100%;
    }

    input[type="text"] {
        .rounded(2px);
        border:1px solid @lightGrey;
        padding: @padS;
        width: 3.3em;
    }
}

.candy {
    background: darken(@lightBlue, 30%);
    color: @white;
    text-transform:none;
    padding: @padS @padM;
    margin: @padS;
    .text-shadow(-1px 1px 2px darken(@lightBlue, 50%));
    .rounded(10px);
    font-size:80%;

    &:hover {
        cursor: pointer;
        background: darken(@lightBlue, 40%);
    }
}

#screen-width {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	padding-top:@padS;
	background: @black;
	color: @white;
	text-align:center;
	font-size:80%;
	font-weight:bold;
}

#demo > div {
    padding: @padL;
    text-align: center;
}

#demo > h3 {
    text-transform: uppercase;
    color: @darkGrey;
    text-align:center;
    font-weight: 500;
}

.demo-unit {
    height:150px;
    background: @yellow;
    border:2px dashed darken(@yellow, 40%);
}
#demo-css {
    .box-shadow(inset 0 0 5px @grey);
    background: lighten(@grey, 55%);
    font-size: 60%;
    color: @grey;
    height: 300px;
    line-height: 1.8em;
    overflow-y: scroll;
    margin-bottom: @padL;
}

p.desc {
    font-size:80%;
    color: @grey;
    font-weight: bold;
}

.dmq-button[value='Add'] {
    background: @green;
    color: @white;
}

.dmq-button[value='Remove'] {
    background: @red;
    color: @white;
}