@import "elements.less";
@import "responsive.less";
//Variables
@padS: 5px;
@padM: 10px;
@padL: 20px;

//Colours
@white: white;
@black: black;
@bg: #f7f7f5;
@grey: #666;
@yellow: #fff4a5;
@lightGrey: lighten(@grey, 45%);
@darkGrey: darekn(@grey, 30%);
@lightBlue: #96DDFA;
html {
    background: #eee;
}

body {
    font-family: "HelveticaNeue", sans-serif;  
    font-weight: 300;
    height: 100%;
}

#header {
    background: black;
    height: 2em;

}


#wrapper {
    width:95%;
    .rounded(5px);
    .box-shadow(0 0 2px lighten(@grey, 25%));
    margin: @padL auto;
    background: @white;
    border:1px solid darken(@lightGrey, 20%);
}

#controlPanel {
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    .box-shadow(0 0 5px @grey);
}
.cell {
    background: @bg;
    .box-shadow(0 0 2px @lightGrey);
    padding: @padM;
    min-height: 2.2em;
    text-transform: uppercase;
    font-size:70%;
    color: @grey;
    font-weight: bold;

    label {
        margin: 0 @padM @padM 0;
        font-size:100%;
    }

    input[type="text"] {
        .rounded(2px);
        border:1px solid @lightGrey;
        padding: @padS;
        width: 3.3em;
    }
}

.candy {
    background: darken(@lightBlue, 30%);
    color: @white;
    text-transform:none;
    padding: @padS @padM;
    margin: @padS;
    .text-shadow(-1px 1px 2px darken(@lightBlue, 50%));
    .rounded(10px);
}

#screen-width {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	padding-top:@padS;
	background: @black;
	color: @white;
	text-align:center;
	font-size:80%;
	font-weight:bold;
}

#demo > h3, #demo > div {
    padding: @padL;
    text-align: center;
}


.demo-unit {
    height:350px;
    background: @yellow;
    border:2px dashed darken(@yellow, 40%);
}
#demo-css {
    font-size: 60%;
    background: @lightGrey;
    color: @darkGrey;
    .rounded(5px);
}
